.tabbar-wrap {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  .tabbar-item {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: 0;
    }
  }
}
